<md-card class="card-simple top-shadow card-decoration" md-theme="custom">
 <md-card-title>
	 <md-card-title-text>
		 <span class="upper-text">2. Datos del Envío
		 	<div class="pull-right" style="margin-bottom:5px">
		 		<div ng-if="vm.store.payment_options.twocheckout || vm.store.payment_options.bacsanjose">
		 			<img src="assets/images/visa.svg" class="card-logo" />
			        <img src="assets/images/mastercard.svg" class="card-logo" />
			        <img src="assets/images/discover.svg" class="card-logo" />
			        <img src="assets/images/amex.svg" class="card-logo" />
		 		</div>
		 		<div ng-if="vm.store.payment_options.fttechnologies || vm.store.payment_options.banconacional">
		 			<img src="assets/images/bancoNacional.png" class="card-logo" />
              		<img src="assets/images/correosDeCostaRica.png" class="card-logo" />
		 			<img src="assets/images/visa.svg" class="card-logo" />
			        <img src="assets/images/mastercard.svg" class="card-logo" />
		 		</div>
	 		</div>
		 </span> 
		 <md-divider></md-divider>
	 </md-card-title-text>
 </md-card-title>
 <md-card-content>
	 <!--Customer information-->
	 <h4 class="dgrey">Información Básica</h4>
	 <br />
	 <div class="row">
		 <div class="col-md-12">
		 	<div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Nombre completo</label>
					<input ng-model="vm.customer.full_name" >
				</md-input-container>
			 </div>
			 <!-- <div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Cédula</label>
					<input ng-model="vm.documentId" />
				</md-input-container>
		 	</div> -->
			<div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Correo Electrónico</label>
					<input ng-model="vm.customer.email" type="email">
				</md-input-container>
			</div>
			<div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Teléfono</label>
					<input ng-model="vm.customer.phone" >
				</md-input-container>
			</div>
		 </div>
	 </div> 
	 <!--Delivery Information-->
	 <div class="center-block text-center">
	 	
	 	<md-checkbox ng-disabled="vm.store_fares.length == 0 || vm.export" ng-if="vm.store.has_pickup_in_store" id="chkPickup" ng-model="vm.pickup_in_store" ng-change="vm.toggleDelivery(vm.pickup_in_store)" aria-label="Checkbox 1">
			Recoger en la tienda 
		 </md-checkbox>
		 <md-checkbox ng-disabled="vm.pickup_in_store" ng-if="vm.store_fares.length > 0 && vm.has_international_shipping" id="chkPickup" ng-model="vm.export" ng-change="vm.toggleExport()" aria-label="Checkbox 1">
			Envío internacional
		 </md-checkbox>
	 </div>
	 <h4 class="dgrey">Dirección</h4>
	 
	 <div class="row" ng-show="!vm.pickup_in_store && !vm.export && vm.useMap==false">
		
		<div class="col-md-12">
			<div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Provincia</label>
					<ui-select style="width:95%" class="mui-dropdown" ng-model="vm.selectedProvince" ng-disabled="false" title="Elija una Provincia" on-select="vm.selectProvince($select.selected)">
					<ui-select-match>{{$select.selected.name}}</ui-select-match>
					<ui-select-choices repeat="province in vm.provinces | filter: $select.search">
					<span ng-bind-html="province.name | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
				</md-input-container>
			</div>
			<div class="form-group">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Cantón</label>
						<ui-select style="width:95%" class="mui-dropdown" ng-model="vm.selectedState" ng-disabled="false" title="Elija un Cantón" on-select="vm.selectState($select.selected)">
						<ui-select-match>{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="state in vm.states | filter:{province:vm.address.country} | filter: $select.search2">
						<span ng-bind-html="state.name | highlight: $select.search2"></span>
						</ui-select-choices>
					</ui-select>
					</md-input-container>
				</div>
		   <div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
						<label>Distrito</label>
						<ui-select style="width:95%" class="mui-dropdown" ng-model="vm.selectedCity" ng-disabled="false" title="Elija un Distrito" on-select="vm.selectCity($select.selected)">
						<ui-select-match>{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="city in vm.cities | filter:{state:vm.address.state} | filter: $select.search3">
						<span ng-bind-html="city.name | highlight: $select.search3"></span>
						</ui-select-choices>
					</ui-select>
					</md-input-container>
		   </div>
			 <div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Dirección Exacta</label>
          			<textarea ng-model="vm.address.address" md-maxlength="300" rows="5" ></textarea>
				</md-input-container>
			</div>
		</div>

		<div class="container-fluid">
			<!-- START fares section -->
			<section>
				<h4>Transporte 
					&nbsp;<small>Distancia aproximada: {{vm.destination_coords.distance}} Kms | {{cart.getTotalWeight()}} Kgs</small>
				</h4><br />
				 <div class="form-group">
			 		<md-radio-group ng-model="vm.destination_coords.selected_fare" ng-change="vm.changeDeliveryCompany()">
				      <md-radio-button ng-repeat="fare in vm.store_fares" value="{{fare.id}}">
				      	<span ng-if="fare.delivery_company">{{fare.delivery_company}} <img ng-if="fare.delivery_company_name=='correosdecostarica'" src="assets/images/correos.png" style="width:auto;height:30px;" /> </span> 
				      	<span ng-if="!fare.delivery_company">{{fare.delivery_company_name}} </span>
				      	<span ng-show="vm.destination_coords.selected_fare == fare.id">
				      		<small class="text-muted" ng-if="vm.store.currency == 'USD'">
					      		{{ cart.getShipping() | currency }} | Tiempo de entrega {{fare.eta}} (approx)
					      	</small>
					      	<small class="text-muted" ng-if="vm.store.currency == 'CRC'">
					      		{{ cart.getShipping() | currency:'₡' }} | Tiempo de entrega {{fare.eta}} (approx)
					      	</small>
				      	</span>
				      </md-radio-button>
				    </md-radio-group>
				</div>
			</section>
		</div>

	 </div>
	 <div class="row" ng-show="!vm.pickup_in_store && !vm.export && vm.useMap==true">
		 <div class="col-md-12">
			 <h4>Punto de Entrega 
				 <!-- &nbsp; -->
			 	<!-- <i ng-click="vm.currentLocation()" class="material-icons my-location" style="color:green">my_location</i>
			 	<small ng-show="!vm.loading_location"> Escribir </small>
			 	<small ng-show="vm.loading_location"> Buscando su ubicación, un momento por favor...</small> -->
			 </h4>
				 <br>
			 <div class="form-group">
			 <md-input-container class="md-block" flex-gt-sm>
			 <label for=""></label>
				 <input
				 places-auto-complete size=80
				 ng-model="vm.address.address"
				 component-restrictions="{country:'cr'}"
				 on-place-changed="vm.placeLookup()"
				 placeholder="o busque aquí su ubicación con Google maps"/>
			 </md-input-container>
			</div>
				<label>o haga click en el mapa para elegir el punto de entrega</label>
			 <div>
				 <ng-map center="San Jose, Costa Rica" zoom="12" on-click="vm.mapClick()">
				 	<marker draggable="true" on-dragend="vm.dragDestination()" position="[{{vm.destination_coords.lat}},{{vm.destination_coords.lng}}]" title="Punto de entrega">
				 	</marker>
				 </ng-map>
			 </div>
			 <br />
			<h4>Dirección Exacta</h4>
			 <div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
          			<textarea ng-model="vm.address.note" placeholder="Escriba aquí su dirección exacta"  md-maxlength="150" rows="5" ></textarea>
				</md-input-container>
			</div>
			
			<!-- START fares section -->
			<section>
				<h4>Transporte 
					&nbsp;<small>Distancia aproximada: {{vm.destination_coords.distance}} Kms | {{cart.getTotalWeight()}} Kgs</small>
				</h4><br />
				 <div class="form-group">
			 		<md-radio-group ng-model="vm.destination_coords.selected_fare" ng-change="vm.changeDeliveryCompany()">
				      <md-radio-button ng-repeat="fare in vm.store_fares" value="{{fare.id}}">
				      	<span ng-if="fare.delivery_company">{{fare.delivery_company}} <img ng-if="fare.delivery_company_name=='correosdecostarica'" src="assets/images/correos.png" style="width:auto;height:30px;" /> </span> 
				      	<span ng-if="!fare.delivery_company">{{fare.delivery_company_name}} </span>
				      	<span ng-show="vm.destination_coords.selected_fare == fare.id">
				      		<small class="text-muted" ng-if="vm.store.currency == 'USD'">
					      		{{ cart.getShipping() | currency }} | Tiempo de entrega {{fare.eta}} (approx)
					      	</small>
					      	<small class="text-muted" ng-if="vm.store.currency == 'CRC'">
					      		{{ cart.getShipping() | currency:'₡' }} | Tiempo de entrega {{fare.eta}} (approx)
					      	</small>
				      	</span>
				      </md-radio-button>
				    </md-radio-group>
				</div>
			</section>

			<br />
		 </div>
	 </div>

	 <div class="row" ng-show="vm.pickup_in_store && !vm.store.payment_gateways.twocheckout">
		 <div class="col-md-12">
			 <h4>Detalle</h4>

		 	<div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
          			<textarea ng-model="vm.billing_address.address" placeholder="Comentarios"  md-maxlength="150" rows="5" ></textarea>
				</md-input-container>
			</div>
		 </div>
	 </div>

	 <div class="row" ng-show="vm.export">
		 <div class="col-md-12">
			 <h4>Billing Address</h4>
			 <br />
			 <div class="form-group" layout="row">
				<md-input-container class="md-block" flex-gt-sm>
					<ui-select style="width:95%" class="mui-dropdown" placeholder="Pick a country" ng-model="vm.country_selected" ng-disabled="false" title="Pick a country" on-select="vm.calculateExportShipping($select.selected)">
				    <ui-select-match>{{$select.selected.name}}</ui-select-match>
				    <ui-select-choices repeat="country in vm.countries | filter: $select.search">
				      <span ng-bind-html="country.name | highlight: $select.search"></span>
				    </ui-select-choices>
				  </ui-select>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>State / Province</label>
					<input ng-model="vm.address.state">
				</md-input-container>
		 	</div>
			<div class="form-group" layout="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>City</label>
					<input ng-model="vm.address.city" >
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Zip Code</label>
					<input ng-model="vm.address.zip_code">
				</md-input-container>
		 	</div>
			 <div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
          			<textarea ng-model="vm.address.address" placeholder="Address details"  md-maxlength="150" rows="5" ></textarea>
				</md-input-container>
			</div>
		 	<div class="form-group">
				<md-input-container class="md-block" flex-gt-sm>
          			<textarea ng-model="vm.address.note" placeholder="Additional comments"  md-maxlength="150" rows="5" ></textarea>
				</md-input-container>
			</div>
		 </div>
	 </div>
 </md-card-content>

 <!-- <div class="center-block text-center">

 	<md-checkbox id="PrivacyPolicy" ng-model="vm.acceptedPrivacyPolicy" aria-label="Privacy Policy">
			
	 </md-checkbox>
	 Leí y acepto las <a href="#" onClick="window.open('politicas-de-privacidad','pagename','resizable,height=600,width=400,left=200,top=50'); return false;">Políticas de Privacidad</a>

 </div> -->
 
 <md-card-actions layout="row" layout-align="center center">
	 <md-button class="pull-left sm-margin-left" ui-sref="checkout.summary">Volver</md-button>
	 <md-button analytics-on="click" analytics-event="CompleteRegistration" class="md-raised md-primary buttons-margin custom" ng-disabled="btnProceed" ng-click="vm.verifyData(vm.pickup_in_store, vm.export)">
		 <span ng-show="!vm.loading_verifyData">Continuar</span>
		 <span ng-show="vm.loading_verifyData"><i class="fa fa-spinner fa-spin"></i></span>
		</md-button>
 </md-card-actions>
</md-card>
