.map{
  height: 1176px!important;
  position: absolute;
  z-index: 0;
}
.panel-mara{
  background-color: white;
  padding: 10px 10px;
}
.hache{
  padding: 0 0 8px 0;
  border-bottom: 2px solid #EEE;
}
