.faq-box{
  background-color: white!important;
}
.panel-default > .panel-heading {
    color: #333333;
    background-color: white!important;
    border-color: white!important;
}
.panel-default > .panel-heading a:hover {
  text-decoration: none;
  color: #32C1B0;
}
.panel-default > .panel-heading a:active {
outline: none;
  color: #32C1B0;
}
