.footer {
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
  width: 100%;
}

.pointer {
  cursor:pointer;
}

.footer-bottom{
  height: auto;
}

.margin-logo-footer{
  margin-top: 0.55em;
}
.margin-nav-pills{
  margin-top:0.2em;
}

.img-f{
  margin:0 auto;
}

.l{
  margin-left: 0.7em;
  margin-top: 0.5em!important;
}
.l:active{
  text-decoration: none;
}
.l:hover{
  text-decoration: none;
}

.contact-link{
  overflow-wrap: break-word;
}

.inherit-color{
  color: inherit !important;
}