.footer {
  background: #CCC;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
  width: 100%;
}

footer h4{
  color: #ffffff;
  margin-left: -40px;
}

.pointer {
  cursor:pointer;
}

.footer-bottom{
  height: auto;
}
.a-down{
  margin-top: 1px;
  color: white;
}
.a-down:hover{
  text-decoration: none;
  color: white;
}

.white-text-footer{
  color: white;
}
.margin-logo-footer{
  margin-top: 0.55em;
}
.margin-nav-pills{
  margin-top:0.2em;
}
.icons-color-f{
  color: #3498db;
}

.img-f{
  margin:0 auto;
}

.l{
  margin-left: 0.7em;
  margin-top: 0.5em!important;
}
.l:active{
  text-decoration: none;
}
.l:hover{
  text-decoration: none;
}

.contact-link{
  overflow-wrap: break-word;
}