.acme-navbar-text{
  color: white;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: white;
  color: black;
}
.principal-img{
  margin-top: 15px;
}

.discount-button {
  background-color: #d42626;
  color: white !important;
}

.discount-button:hover {
  background-color: #d42626;
  color: #d42626 !important;
}

.navbar-logo{
  cursor:pointer;
  height:4.5em;
}
.badge {
    color: rgb(63,81,181);
    background-color: #fff;
}
.social-back{
  background-color: white!important;
}
.socials{
  margin-top: 0.4em;
}

.social-network li{
  display: inline-block;
}
.i-sociala {
    margin-left: 0.3em;
    display: inline-block;
    line-height: 26px;
    border: 1px solid #cccccc;
    text-align: center;
    -webkit-border-radius: 15px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 15px;
    -moz-background-clip: padding;
    border-radius: 15px;
    background-clip: padding-box;
    width: 30px;
    height: 30px;
    -moz-transition: border 300ms, background 600ms;
    -o-transition: border 300ms, background 600ms;
    -webkit-transition: border 300ms, background 600ms;
    transition: border 300ms, background 600ms;
}
.i-color{
  color: #CCCCCC;
}

.navbar-fixed-container {
  position: fixed; 
  width: 100%;
  z-index: 9999;
}

.navbar-submenu-container {
  padding:10px;
  padding-top:0px;
}

.menu-content-mp {
  padding-left: 10px;
  padding-right: 10px;
}

.md-open-menu-container{
  top: 58px !important;
}

.no-decor {
  text-decoration: none !important;
  color:inherit;
}

.custom-height {
  height:35px;
  min-height:35px;
}