.slider{
  height: 602px;
  width: 100%;
  background-color: #E9E9E9;
}
.watch{
  margin-top: 4.2em;
  border-radius: 0px;
  width: 361px;
  height: 228px;
}

.watch-2{
  border-radius: 0px;
  border-color: #CCCCCC;
  padding-top: -1em;
  width: 330px;
  height: 195px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 15px;

}

.custom{
  background-color: black!important;
}

.join{
  margin-top: 4.2em;
  border-radius: 0px;
  width: 361px;

}


.leyend{
  padding-left: 15px!important;
  padding-right: 15px;
}

.m-input{
  width: 318px;
  height:38px;
  margin-left: 1.4em;

}

.e{
  margin-top: 6em;
}

.soc{
  color: #666666;
  margin-left: 0.8em;
}

.soc:hover{
  color: #32C1B0;
  text-decoration: none;
}
.tag {
  color: #666666;
}
.content-margin{
  margin-top:5em;
  margin-bottom:5em;
}
