
<carousel interval="5000" pause="false">
    <slide ng-repeat="photo in vm.sliderPhotos">
      <img class="img-responsive" ng-src="https://cms.blumewebsites.com/{{vm.company_name}}/{{photo.name}}" style="margin:auto;" />
    </slide>
</carousel>

<div class="container-fluid primary-bc">

  <div layout="row" layout-align="center center">
    <div ng-show="vm.loader" class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
    </div>
  </div>
  <div class="row min-top primary-bc">
    <div class="col-md-3 col-sm-6 no-padding" ng-repeat="product in vm.catalog">
      <md-card class="card-animation card-h">
         <div ui-sref="product({ product_id: product.id })" style="cursor:pointer;background:url(https://cms.blumewebsites.com/{{ ::product.cover_image}}) no-repeat center; background-size:contain;" class="md-card-image img-card" alt="{{ ::product.title}}">
          <span ng-if="product.sale_percentage > 0">
            <div style="position:absolute;top:40px;right:52px;z-index:1">
              <strong style="color:white">- {{product.sale_percentage}}%</strong>
            </div>
            <img style="position:absolute;top:15px;right:30px;" src="assets/images/discount-tag.png" />
          </span>
         </div>
         <md-card-title class="less-p">
           <md-card-title-text>
             <h4 class="text-center">{{ ::product.title}}</h4>
           </md-card-title-text>
         </md-card-title>
         <md-card-content class="less-p">
           <h5 class="text-center gray no-mar" ng-if="vm.currency == 'USD'">
            <span ng-if="product.sale_percentage == 0">
              {{ ::product.variant_price | currency }}
            </span>
            <span ng-if="product.sale_percentage > 0">
              <small style="color:black"><strike>{{ ::product.variant_price | currency }}</strike></small><br />
              {{ ::product.variant_price * ((100 - product.sale_percentage) / 100) | currency }}
            </span>
          </h5>
           <h5 class="text-center gray no-mar" ng-if="vm.currency == 'CRC'">
            <span ng-if="product.sale_percentage == 0">
              {{ ::product.variant_price | currency:'₡' }}
            </span>
            <span ng-if="product.sale_percentage > 0">
              <small style="color:black"><strike>{{ ::product.variant_price | currency:'₡' }}</strike></small><br />
              {{ ::product.variant_price * ((100 - product.sale_percentage) / 100) | currency:'₡' }}
            </span>
           </h5>
         </md-card-content>
         <md-card-actions layout="row" layout-align="center center">
           <ngcart-addtocart id="{{ product.variant_id }}" name="{{ product.title }}" price="{{ product.variant_price * ((100 - product.sale_percentage) / 100) }}" quantity="1" quantity-max="10" data="{imagePath:product.cover_image,product_id:product.id,weight:product.variant_weight,selectedVariant:product.variant_name,stock:product.variant_quantity}"><i class="glyphicon glyphicon-shopping-cart"></i> Agregar</ngcart-addtocart>
         </md-card-actions>
       </md-card>
    </div>
  </div>

  <div class="row content-margin" ng-if="vm.settings.home.text != ''">
      <div class="col-sm-12 text-center ct-u-padding-top-25">
          <div class="col-md-6">
            <br />
            <h1>{{vm.settings.home.title}}</h1>
            <br />
              <p style="line-height:2em;">{{vm.settings.home.text}}</p>
              <br />
              <p><md-button class="md-raised md-primary custom" ui-sref="products">&nbsp;Ver productos&nbsp;</md-button></p>
          </div>
          <div class="col-md-6" ng-if="vm.settings.home.has_instagram">
              <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/6a4dc78dfa2356b382000d81d3175946.html" id="lightwidget_6a4dc78dfa" name="lightwidget_6a4dc78dfa"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
          </div>
          <div class="col-md-6" ng-if="!vm.settings.home.has_instagram">
              <p style="line-height:2em;">{{vm.settings.home.secondary_text}}</p>
              <br />
          </div>
      </div>
  </div>

</div>
