<div ng-hide="attrs.id">
    <a class="btn btn-custom" ng-disabled="true" ng-transclude></a>

</div>

<div class="row" ng-show="attrs.id">
    <div ng-if="!inCart()">
        <div class="form-inline" ng-if="data.stock != 0 && data.selectedVariant == 'default'">
          <md-button analytics-on="click" analytics-event="AddToCart" class="md-raised md-primary custom" ng-click="ngCart.addItem(id, name, price, q, data)">Agregar</md-button>
          &nbsp;
          <md-input-container>
             <md-select ng-model="q" aria-label="variant options">
               <md-option ng-repeat="v in qtyOpt" value="{{v}}">
                 {{v}}
               </md-option>
             </md-select>
          </md-input-container>
          <!--<select ng-show="quantityMax" class="form-control" name="quantity" id="quantity" ng-model="q"
                ng-options=" v for v in qtyOpt"></select>-->
        </div>
        <div class="form-inline" ng-if="data.selectedVariant != 'default'">
          <md-button analytics-on="click" analytics-event="ViewContent" ui-sref="product({ product_id: data.product_id })" class="md-raised md-primary custom text-center" style="margin: 10px 4px">Ver opciones disponibles</md-button>
          <!--<select ng-show="quantityMax" class="form-control" name="quantity" id="quantity" ng-model="q"
                ng-options=" v for v in qtyOpt"></select>-->
        </div>
        <div class="form-inline" ng-if="data.stock == 0 && data.selectedVariant == 'default'">
          <md-button ng-disabled="true">Agregar</md-button>
          &nbsp;
          <md-input-container>
             <md-select ng-disabled="true" ng-model="q" aria-label="variant options">
               <md-option ng-repeat="v in qtyOpt" value="{{v}}">
                 {{v}}
               </md-option>
             </md-select>
          </md-input-container>
          <!--<select ng-show="quantityMax" class="form-control" name="quantity" id="quantity" ng-model="q"
                ng-options=" v for v in qtyOpt"></select>-->
        </div>
    </div>

    <div ng-if="inCart()">
        <div class="form-inline" style="margin-top:17px;margin-bottom:17px">
          <md-button class="md-raised md-warn custom" ng-click="ngCart.removeItemById(id)">Eliminar</md-button>
          &nbsp;
          <md-button analytics-on="click" analytics-event="InitiateCheckout" class="md-raised" ui-sref="checkout.summary">Checkout</md-button>
        </div>
    </div>
</div>
