.slider{
  height: 602px;
  width: 100%;
  background-color: #E9E9E9;
}
.watch{
  margin-top: 4.2em;
  border-radius: 0px;
  width: 361px;
  height: 228px;
}

.watch-2{
  border-radius: 0px;
  border-color: #CCCCCC;
  padding-top: -1em;
  width: 330px;
  height: 195px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 15px;

}

.custom{
  background-color: #35c25f !important;
  font-weight: bold;
  color: #fff !important;
}

.custom-2{
  background-color: #000 !important;
  font-weight: bold;
}

.custom-3{
  background-color: #18baf1 !important;
  font-weight: bold;
  color: #fff !important;
}

.join{
  margin-top: 4.2em;
  border-radius: 0px;
  width: 361px;

}


.m-input{
  width: 318px;
  height:38px;
  margin-left: 1.4em;

}


.content-margin{
  margin-top:5em;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: black
}

/*! CSS Used from: https://www.urbanoutfitters.com/static/v3/app.ef72b5ce690d7492e131.css */
button,div,input,label,li,p,ul{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
*{box-sizing:border-box;}
:focus{outline-color:#767676;}
.has-pwa-mouse-click-focus-disabled{outline:none;box-shadow:none;}
.o-pwa-button-link{letter-spacing:inherit;text-align:left;background:none;cursor:pointer;text-decoration:underline;color:#767676;}
.o-pwa-button-link:focus,.o-pwa-button-link:hover{text-decoration:none;color:#767676;}
/*! CSS Used from: https://www.urbanoutfitters.com/static/v3/product.7503a5f1dda1b4b02ec6.css */
.c-pwa-custom-radio__input{margin:0;padding:0;opacity:0;}
.c-pwa-custom-radio__label{position:relative;display:inline-block;cursor:pointer;}
.c-pwa-custom-radio__label.is-disabled:not(.is-selectable){cursor:default;pointer-events:none;}
.c-pwa-radio-boxes__item{display:inline-block;}
.c-pwa-radio-boxes__label{font:1.2rem/normal Helvetica,Arial,sans-serif;letter-spacing:.05rem;min-height:38px;padding:18px 10px 9px;border:1px solid #ddd;line-height:0;text-align:center;color:#767676;background-color:#fff;}
.c-pwa-radio-boxes--default .c-pwa-radio-boxes__label{min-width:38px;max-width:100%;margin-right:5px;margin-bottom:5px;}
.c-pwa-radio-boxes__label.is-disabled{border-color:#ddd;color:#ddd;background-color:#fff;}
.c-pwa-radio-boxes__label:hover{border-color:#ddd;color:#222;background-color:#f5f5f5;}
.c-pwa-radio-boxes__input{position:absolute;}

.c-pwa-radio-boxes__input:focus.has-pwa-mouse-click-focus-disabled+.c-pwa-radio-boxes__label{outline:none;}
.c-pwa-radio-boxes__input:checked+.c-pwa-radio-boxes__label{border-color:#222;color:#222;background-color:#fff;}
.c-pwa-radio-boxes__input:checked+.c-pwa-radio-boxes__label.is-disabled{border-color:#e00;color:#767676;background-color:#fff;}
.c-pwa-size-fit-guide{font:1.2rem/normal Helvetica,Arial,sans-serif;letter-spacing:.05rem;color:#767676;margin-top:5px;margin-bottom:-10px;}
.c-pwa-size-guide-link{margin-bottom:10px;}
.s-pwa-size-fit-guide-both .c-pwa-size-guide-link:after{display:inline-block;margin:0 10px;color:#aaa;content:"|";}
.s-pwa-size-fit-guide-both .c-pwa-size-guide-link:last-child:after{content:"";margin:0;}

.selectedOption{border-color:#ddd;outline:5px auto #767676;color:#222;background-color:#f5f5f5;}