
  <div class="container-fluid">
    <div class="row products-header">
      <div class="col-md-6 col-md-offset-3">

     </div>
      </div>
    </div>

    <br/>

    <div class="container double-space-top" ng-init="index=2">
      <div class="row">
        <div class="col-md-6">
          <div>
            <span ng-if="product.sale_percentage > 0">
              <div style="position:absolute;top:40px;right:52px;z-index:2">
                <strong style="color:white">- {{product.sale_percentage}}%</strong>
              </div>
              <img style="position:absolute;top:15px;right:30px;z-index:1" src="assets/images/discount-tag.png" />
            </span>
            <carousel style="cursor:pointer">
               <slide ng-repeat="image in product.images" active="image.active">
                 <img class="img-responsive" ng-src="https://cms.blumewebsites.com/{{image.relative_url}}" style="margin:auto;">
               </slide>
             </carousel>
           </div>
        </div>
        <div class="col-md-6">
          <div class="product-title"><h2>{{ product.title }} <small ng-click="share(product)" style="color:#3b5998"><i class="fa fa-facebook-square"></i></small></h2> <span ng-if="product.sku != null">- {{product.sku}}</span></div> <br>
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2" ng-repeat="image in product.images">
              <img ng-src="https://cms.blumewebsites.com/{{image.relative_url}}" style="width:100%" ng-click="setActive($index)">
            </div>
          </div>
          <br />
          <div ta-bind ng-model="product.long_description"></div>
          <br />
          <div ng-if="product.options.length > 0">
              <h4><strong>{{product.options[0].type}}</strong></h4>
              <select class="form-control options-format" ng-model="vm.option1" ng-options="variant as variant for variant in product.options[0].values">
        </select>
          </div>
          <div ng-if="product.options.length > 1">
              <h4><strong>{{product.options[1].type}}</strong></h4>
              <select class="form-control options-format" ng-model="vm.option2" ng-options="variant as variant for variant in product.options[1].values">
                </select>
          </div>
          <div ng-if="product.options.length > 2">
              <h4><strong>{{product.options[2].type}}</strong></h4>
              <select class="form-control options-format" ng-model="vm.option3" ng-options="variant as variant for variant in product.options[2].values">
                </select>
          </div>
          <br />
          <div ng-if="product.options.length > 0" ng-repeat="variant in product.variants | filter:{name: vm.option1+vm.option2+vm.option3} | limitTo:1">
              <div class="product-price" ng-if="currency == 'USD'">
                <span ng-if="product.sale_percentage == 0">
                  {{ variant.price | currency }} 
                </span>
                <span ng-if="product.sale_percentage > 0">
                  <small style="color:black"><strike>{{ variant.price | currency }}</strike></small><br />
                  {{ variant.price * ((100 - product.sale_percentage) / 100) | currency }}
                </span>
                <span ng-if="variant.quantity == 0" class="dgrey"><small> - No hay disponible en este momento</small></span>
              </div>
              <div class="product-price" ng-if="currency == 'CRC'">
                <span ng-if="product.sale_percentage == 0">
                  {{ variant.price | currency:'₡' }}
                </span>
                <span ng-if="product.sale_percentage > 0">
                  <small style="color:black"><strike>{{ variant.price | currency:'₡' }}</strike></small><br />
                  {{ variant.price * ((100 - product.sale_percentage) / 100) | currency:'₡' }}
                </span>
                <span ng-if="variant.quantity == 0" class="dgrey"><small> - No hay disponible en este momento</small></span>
              </div>
              <ngcart-detail ng-show="variant.quantity != 0" id="{{ variant.id }}" name="{{ product.title }}" price="{{ variant.price * ((100 - product.sale_percentage) / 100) }}" quantity="1" quantity-max="10" data="{imagePath:product.images[0].relative_url,product_id:product.id,weight:variant.weight,selectedVariant:variant.name,stock:variant.quantity}"><i class="glyphicon glyphicon-shopping-cart"></i> Agregar</ngcart-detail>
          </div>

          <div ng-if="product.options.length == 0" ng-repeat="variant in product.variants">

              <div class="product-price" ng-if="currency == 'USD'">
                <span ng-if="product.sale_percentage == 0">
                  {{ variant.price | currency }} 
                </span>
                <span ng-if="product.sale_percentage > 0">
                  <small style="color:black"><strike>{{ variant.price | currency }}</strike></small><br />
                  {{ variant.price * ((100 - product.sale_percentage) / 100) | currency }}
                </span>
                <span ng-if="variant.quantity == 0" class="dgrey"><small> - No hay disponible en este momento</small></span>
              </div>
              <div class="product-price" ng-if="currency == 'CRC'">
                <span ng-if="product.sale_percentage == 0">
                  {{ variant.price | currency:'₡' }}
                </span>
                <span ng-if="product.sale_percentage > 0">
                  <small style="color:black"><strike>{{ variant.price | currency:'₡' }}</strike></small><br />
                  {{ variant.price * ((100 - product.sale_percentage) / 100) | currency:'₡' }}
                </span>
                <span ng-if="variant.quantity == 0" class="dgrey"><small> - No hay disponible en este momento</small></span>
              </div>
              <ngcart-detail ng-show="variant.quantity != 0" id="{{ variant.id }}" name="{{ product.title }}" price="{{ variant.price * ((100 - product.sale_percentage) / 100) }}" quantity="1" quantity-max="10" data="{imagePath:product.images[0].relative_url,product_id:product.id,weight:variant.weight,selectedVariant:variant.name,stock:variant.quantity}"><i class="glyphicon glyphicon-shopping-cart"></i> Agregar</ngcart-detail>
          </div>
        </div>
      </div>
      <br />
  </div>


