<carousel interval="5000" pause="false" ng-if="::vm.site!='productosmaky.com'">
    <slide ng-repeat="slide in vm.carousel">
        <div ng-if="slide.overlay" class="center-block text-center">
            <div class="slider-center-overlay" ng-class="::{'light-overlay':slide.overlay.style=='light','dark-overlay':slide.overlay.style=='dark'}" hide-xs>
                <h1>{{::slide.overlay.title}}</h1>
                <h2>{{::slide.overlay.description}}</h2>
                <br>
                <a href="{{::slide.overlay.linkUrl}}" target="_blank" class="btn btn-transparent">{{::slide.overlay.linkText}}</a>
                <br><br>
            </div>
        </div>
        <img class="img-responsive main-slider" ng-src="{{::slide.imageUrl}}" alt="Slider photo" />
    </slide>
</carousel>

<carousel ng-if="::vm.site=='productosmaky.com'">
    <slide>
        <a href="https://www.youtube.com/channel/UCmZ-oQfa1bGwWTIGHgnKbXA" target="_blank"><img class="img-responsive main-slider" ng-src="assets/images/maky4.jpg" /></a>
    </slide>
    <slide>
        <a href="/products?productType=Aceite%20de%20oliva"><img class="img-responsive main-slider" ng-src="assets/images/maky1.jpg" /></a>
    </slide>
    <slide>
        <a href="/products?s=nostimo"><img class="img-responsive main-slider" ng-src="assets/images/maky2.jpg" /></a>
    </slide>
    <slide>
        <a href="/products?productType=Tahini"><img class="img-responsive main-slider" ng-src="assets/images/maky3.jpg" /></a>
    </slide>
</carousel>