<section name="collectionLinks" ng-if="::vm.site=='cachoscr.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?family=ABRIGOS"><img ng-src="../../assets/images/categoria1.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=CALZADO"><img ng-src="../../assets/images/categoria2.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?family=GORRA"><img ng-src="../../assets/images/categoria3.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?family=MALETIN"><img ng-src="../../assets/images/categoria4.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="::vm.site=='nmnuevomundo.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?brand=RVCA"><img ng-src="../../assets/images/nuevomundo1.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?brand=FOX%20MX"><img ng-src="../../assets/images/nuevomundo2.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?brand=BILLABONG"><img ng-src="../../assets/images/nuevomundo3.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?brand=ELEMENT"><img ng-src="../../assets/images/nuevomundo4.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="::vm.site=='dieciseiscr.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Joyería"><img ng-src="../../assets/images/Joyería.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Bags"><img ng-src="../../assets/images/Bags.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Mantas"><img ng-src="../../assets/images/Mantas.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Beachwear"><img ng-src="../../assets/images/Beachwear.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="::vm.site=='antonellaboutiquecr.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Vestido"><img ng-src="../../assets/images/Vestido.png" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Blusa"><img ng-src="../../assets/images/Blusa.png" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Set"><img ng-src="../../assets/images/Set.png" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Enterizo"><img ng-src="../../assets/images/Enterizo.png" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="::vm.site=='bajoaqua.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 25px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=KIDS"><img ng-src="../../assets/images/image0.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=ENTERO"><img ng-src="../../assets/images/image1.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=ACTIVE"><img ng-src="../../assets/images/image2.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=BIKINI"><img ng-src="../../assets/images/image3.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="::vm.site=='4kidscr.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?brand=Skip%20Hop"><img ng-src="../../assets/images/4kidsskiphop.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Zapatos"><img ng-src="../../assets/images/4kidszapatos.gif" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="::vm.site=='elmercatico.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 25px;padding-bottom: 5px;">
            <div class="col-md-4" style="padding: 5px;"><a href="/products?productType=Vestimenta"><img ng-src="../../assets/images/mercaticovestimenta.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-4" style="padding: 5px;"><a href="/products?productType=Alimentos"><img ng-src="../../assets/images/mercaticoalimentos.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-4" style="padding: 5px;"><a href="/products?productType=Al%20aire%20libre"><img ng-src="../../assets/images/mercaticoalairelibre.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
        <div class="row center-block text-center" style="padding-top: 25px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Cuidado%20personal"><img ng-src="../../assets/images/mercaticocuidadopersonal.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Articulos"><img ng-src="../../assets/images/mercaticoarticulos.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="::vm.site=='coolbandscr.com'">
    <div class="container-fluid">
        <div class="row center-block text-center" style="padding-top: 25px;padding-bottom: 5px;">
            <div class="col-md-4" style="padding: 5px;"><a href="/products?productType=DIADEMAS"><img ng-src="../../assets/images/coolbandsdiademas.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-4" style="padding: 5px;"><a href="/products?productType=SCRUNCHIES"><img ng-src="../../assets/images/coolbandsscrunchies.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-4" style="padding: 5px;"><a href="/products?productType=VINCHAS"><img ng-src="../../assets/images/coolbandsvinchas.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="::vm.site=='tienda.nniastudio.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 25px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?customValueA=BASICS"><img ng-src="../../assets/images/nnia01.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?customValueA=LEATHER"><img ng-src="../../assets/images/nnia02.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?customValueA=SETS"><img ng-src="../../assets/images/nnia03.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?customValueA=LIMITED%20EDITION"><img ng-src="../../assets/images/nnia04.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>