<section name="collectionLinks" ng-if="vm.site=='cachoscr.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?family=ABRIGOS"><img src="../../assets/images/categoria1.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=CALZADO"><img src="../../assets/images/categoria2.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?family=GORRA"><img src="../../assets/images/categoria3.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?family=MALETIN"><img src="../../assets/images/categoria4.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="vm.site=='nmnuevomundo.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?brand=RVCA"><img src="../../assets/images/nuevomundo1.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?brand=FOX%20MX"><img src="../../assets/images/nuevomundo2.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?brand=BILLABONG"><img src="../../assets/images/nuevomundo3.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?brand=ELEMENT"><img src="../../assets/images/nuevomundo4.jpg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="vm.site=='dieciseiscr.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Joyería"><img src="../../assets/images/Joyería.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Bags"><img src="../../assets/images/Bags.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Mantas"><img src="../../assets/images/Mantas.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Beachwear"><img src="../../assets/images/Beachwear.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="vm.site=='antonellaboutiquecr.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Vestido"><img src="../../assets/images/Vestido.png" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Blusa"><img src="../../assets/images/Blusa.png" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Set"><img src="../../assets/images/Set.png" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Enterizo"><img src="../../assets/images/Enterizo.png" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="vm.site=='bajoaqua.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 25px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=KIDS"><img src="../../assets/images/image0.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=ENTERO"><img src="../../assets/images/image1.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=ACTIVE"><img src="../../assets/images/image2.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=BIKINI"><img src="../../assets/images/image3.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>
<section name="collectionLinks" ng-if="vm.site=='4kidscr.com'">
    <div class="container-fluid">
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?brand=Skip%20Hop"><img src="../../assets/images/4kidsskiphop.jpeg" class="img-responsive" style="width:100%" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=Zapatos"><img src="../../assets/images/4kidszapatos.gif" class="img-responsive" style="width:100%" alt=""></a></div>
        </div>
    </div>
    <br>
</section>