<section name="collectionLinks" ng-if="vm.site=='nmnuevomundo.com'">
    <div class="container-fluid">
        <h2 class="text-center" ng-style="vm.titleStyle">Colecciones</h2>
        <div class="row" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-md-6" style="padding: 5px;"><a href="/products?family=ABRIGOS"><img src="../../assets/images/categoria1.jpg" class="img-responsive" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?productType=CALZADO"><img src="../../assets/images/categoria2.jpg" class="img-responsive" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?family=GORRA"><img src="../../assets/images/categoria3.jpg" class="img-responsive" alt=""></a></div>
            <div class="col-md-6" style="padding: 5px;"><a href="/products?family=MALETIN"><img src="../../assets/images/categoria4.jpg" class="img-responsive" alt=""></a></div>
        </div>
    </div>
    <br>
</section>