<section id="filters" ng-repeat="filter in vm.filters" class="filter-list-height">
    <strong style="margin-left:5px;" ng-click="filter.isOpen=!filter.isOpen">{{::filter.title}} 
        <i class="fa fa-chevron-down" ng-if="!filter.isOpen"></i>
        <i class="fa fa-chevron-up" ng-if="filter.isOpen"></i>
    </strong>
    <ul class="filter-list fadeIn" ng-show="filter.isOpen">
        <md-radio-group ng-model="filter.criteria">
            <md-radio-button value="" ng-click="vm.removeFilter(filter,'')"> Todos </md-radio-button>
            <md-radio-button ng-repeat="option in filter.filters" ng-click="vm.setFilter(filter,option)" value="{{::option}}" aria-label="Available product filter options"> {{::option}} </md-radio-button>
        </md-radio-group>
    </ul>
</section>