<a href="{{::banner.linkUrl}}" ng-if="::banner.style=='full'">
    <img ng-src="{{::banner.imageUrl}}" style="width: 100%;" alt="">
</a>
<div ng-if="::banner.style=='textLeft'">
    <div layout="row">
        <div ta-bind ng-model="::banner.text" flex></div>
        <a href="{{::banner.linkUrl}}" flex>
            <img ng-src="{{::banner.imageUrl}}" class="img-responsive" alt="">
        </a>
    </div>
</div>
<div ng-if="::banner.style=='textRight'">
    <div layout="row">
        <a href="{{::banner.linkUrl}}" flex>
            <img ng-src="{{::banner.imageUrl}}" class="img-responsive" alt="">
        </a>
        <div ta-bind ng-model="::banner.text" flex></div>
    </div>
</div>