<div layout="row">
    <div ng-repeat="post in vm.instagramFeed.posts | limitTo:vm.instagramFeed.limit" flex>
        <a href="{{::post.link}}" target="_blank">
            <div class="imageContainer" style="padding:2px;">
                <div style="background:url({{::post.images.standard_resolution.url}}) no-repeat center; background-size:cover;" class="md-card-image imageInstagram">
                </div>
                <!-- <img ng-src="{{::post.images.standard_resolution.url}}" alt="Blume Instagram Feed" class="img-responsive"> -->
                <div class="imageOverlay">
                    <div class="imageOverlayText"><i class="fa fa-2x fa-instagram"></i></div>
                </div>
            </div>
        </a>
    </div>
</div>