<md-card class="card-simple top-shadow" md-theme="custom">
    <md-card-content>
            <h3>3. Seleccionar Método de Pago</h3> <br>
            <!-- PayPal Starts Here -->
            <div class="list-title" ng-click="vm.paymentMethod='paypal'" ng-if="vm.paymentMethods.paypal">
              <h4 ng-class="{'success-green':vm.paymentMethod=='paypal'}"> 
                    PayPal  <i class="fab fa-cc-paypal"></i>
                    <small ng-if="vm.paymentMethod=='paypal'" class="success-green"> Para pagar con PayPal haga click en Finalizar Compra.</small>
              </h4>
            </div>
            <div ng-if="vm.paymentMethod=='paypal'">
                <form id="PayPalPost" name="PayPalPost" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="business" value="{{vm.paymentMethods.paypal.account}}">
                    <input type="hidden" name="lc" value="AL">
                    <input type="hidden" name="item_name" value="{{vm.payment.orderId}}">
                    <input type="hidden" name="amount" value="{{vm.payment.amount}}">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="button_subtype" value="services">
                    <input type="hidden" name="no_note" value="1">
                    <input type="hidden" name="no_shipping" value="1">
                    <input type="hidden" name="rm" value="1">
                    <input type="hidden" name="return" value="http://localhost:3000/payment/paypal/approved?orderId={{vm.payment.orderId}}">
                    <input type="hidden" name="cancel_return" value="http://localhost:3000/payment/paypal/declined?orderId={{vm.payment.orderId}}">
                    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
                    <input ng-show="false" type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>    
            </div>
            <!-- BAC Payments Start Here -->
            <div class="list-title" ng-click="vm.paymentMethod='bacsanjose'" ng-if="vm.paymentMethods.bac">
                <h4 ng-class="{'success-green':vm.paymentMethod=='bacsanjose'}">
                    Tarjeta de Crédito o Débito <i class="fa fa-credit-card"></i> &nbsp;
                </h4>
            </div>
            <div layout="row" ng-if="vm.paymentMethod=='bacsanjose'">
                <div flex="25" hide-xs></div>
                <div flex>
                    <form 
                        id="CredomaticPost" 
                        name="CredomaticPost" 
                        action="https://credomatic.compassmerchantsolutions.com/api/transact.php" 
                        method="post">
                    <div>
                    <div class="form-group c-c">
                        <md-input-container class="md-block">
                            <label>Número de tarjeta</label>
                            <input name="ccnumber" style="margin-top:10px" type="text" ng-model="vm.payment.card.number" />
                        </md-input-container>
                    </div>
                    <div class="form-group c-c">
                        <md-input-container class="md-block">
                            <md-select ng-model="vm.payment.card.expMonth">
                            <label>Mes</label>
                                <md-option ng-repeat="month in vm.months" ng-value="month">
                                {{month}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <br>
                    </div>
                    <div class="form-group c-c">
                        <md-input-container class="md-block">
                            <md-select ng-model="vm.payment.card.expYear">
                            <label>Año</label>
                                <md-option ng-repeat="year in vm.years" ng-value="year">
                                {{year}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <br>
                    </div>
                    <div class="form-group c-c">
                        <md-input-container class="md-block">
                            <label>CVC</label>
                            <input style="margin-top:10px" name="cvv" type="text" ng-model="vm.payment.card.cvc" />
                        </md-input-container>
                    </div>
                    <div ng-if="vm.paymentMethods.bac.processorId=='grupocachos'" class="form-group c-c center-block text-center">
                        <md-checkbox ng-model="vm.useTasaCero" aria-label="Use Tasa Cero">
                            <img src="../assets/images/tasa0.png" class="img-responsive" />
                            3 meses 
                        </md-checkbox>
                    </div>
                    <div ng-if="vm.paymentMethods.bac.processorId=='11040616'" class="form-group c-c center-block text-center">
                        <md-checkbox ng-model="vm.useTasaCero" aria-label="Use Tasa Cero">
                            <img src="../assets/images/tasa0.png" class="img-responsive" />
                            3 meses 
                        </md-checkbox> 
                        <md-checkbox ng-model="vm.useTasaCero6" aria-label="Use Tasa Cero">
                            <img src="../assets/images/tasa0.png" class="img-responsive" />
                            6 meses
                        </md-checkbox>
                    </div>
                    </div>
                    <input type="hidden" name="hash" value="{{vm.paymentMethods.bac.hash}}" />
                    <input type="hidden" name="time" value="{{vm.paymentMethods.bac.timestamp}}" />
                    <input type="hidden" name="amount" value="{{vm.payment.amount}}" />
                    <input type="hidden" name="ccexp" value="{{vm.payment.card.expDate}}" />
                    <input type="hidden" name="type" value="sale" />
                    <input type="hidden" name="orderid" value="{{vm.payment.orderId}}" />
                    <input type="hidden" name="key_id" value="{{vm.paymentMethods.bac.keyId}}" />
                    <input type="hidden" name="processor_id" value="{{vm.paymentMethods.bac.processorId}}" />
                    <input type="hidden" name="address" value="San Jose, Costa Rica" />
                    <input type="hidden" name="redirect" value="{{vm.paymentMethods.bac.returnUrl}}" />
                </form>
            </div>
            <div flex="25" hide-xs></div>
        </div>
        <!-- Banco Nacional Start Here -->
        <div class="list-title ng-scope" ng-click="vm.paymentMethod='fttech'" ng-if="vm.paymentMethods.fttech" role="button" tabindex="0">
            <h4 ng-class="{'success-green':vm.paymentMethod=='fttech'}">Tarjeta de Crédito o Débito <i class="fa fa-credit-card"></i> &nbsp;</h4>
        </div>
        <div class="list-title ng-scope" ng-click="vm.paymentMethod='cybersource'" ng-if="vm.paymentMethods.cybersource" role="button" tabindex="0">
            <h4 ng-class="{'success-green':vm.paymentMethod=='cybersource'}">Tarjeta de Crédito o Débito <i class="fa fa-credit-card"></i> &nbsp;</h4>
        </div>
        <div class="list-title ng-scope" ng-click="vm.paymentMethod='fac'" ng-if="vm.paymentMethods.fac" role="button" tabindex="0">
            <h4 ng-class="{'success-green':vm.paymentMethod=='fac'}">Tarjeta de Crédito o Débito <i class="fa fa-credit-card"></i> &nbsp;</h4>
        </div>
        <div layout="row" ng-if="vm.paymentMethod=='fttech'||vm.paymentMethod=='cybersource'||vm.paymentMethod=='fac'">
            <div flex="25" hide-xs></div>
            <div flex>
                    <div class="form-group c-c">
                        <md-input-container class="md-block">
                            <label>Número de tarjeta</label>
                            <input name="ccnumber" style="margin-top:10px" type="text" ng-model="vm.payment.card.number" />
                        </md-input-container>
                    </div>
                    <div class="form-group c-c">
                        <md-input-container class="md-block">
                            <md-select ng-model="vm.payment.card.expMonth">
                            <label>Mes</label>
                                <md-option ng-repeat="month in vm.months" ng-value="month">
                                {{month}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <br>
                    </div>
                    <div class="form-group c-c">
                        <md-input-container class="md-block">
                            <md-select ng-model="vm.payment.card.expYear">
                            <label>Año</label>
                                <md-option ng-repeat="year in vm.years" ng-value="year">
                                {{year}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <br>
                    </div>
                    <div class="form-group c-c">
                        <md-input-container class="md-block">
                            <label>CVC</label>
                            <input style="margin-top:10px" name="cvv" type="text" ng-model="vm.payment.card.cvc" />
                        </md-input-container>
                    </div>
            </div>
            <div flex="25" hide-xs></div>
        </div>
        <!-- Money Transfers Start Here -->
        <div class="list-title" ng-click="vm.paymentMethod='moneytransfer'" ng-if="vm.paymentMethods.bankAccounts.length>0">
            <h4 ng-class="{'success-green':vm.paymentMethod=='moneytransfer'}">
                Transferencia <i class="fas fa-file-import"></i> 
            </h4>
        </div>
        <div layout="row" layout-align="center center">
            <div class="center-block text-center" ng-if="vm.paymentMethod=='moneytransfer' && vm.moneyTransferReceiptSent">
                <p class="success-green">Recibimos el comprobante correctamente, gracias por tu compra! Te enviamos una copia de la orden al correo, ya puedes cerrar esta página.</p>
            </div>
            <div ng-if="vm.paymentMethod=='moneytransfer' && !vm.moneyTransferReceiptSent" class="center-block text-center">
                <p>1. Para pagar tu orden, deposita el monto total de la compra 
                    <span ng-if="::vm.paymentMethods.bankAccounts.length==1">a la siguiente cuenta:</span>
                    <span ng-if="::vm.paymentMethods.bankAccounts.length>1">a una de las siguientes cuentas:</span>
                    <br />
                    <div class="row">
                        <div class="col-md-4" ng-repeat="bankAccount in vm.paymentMethods.bankAccounts">
                            <strong>Banco</strong> {{bankAccount.bankName}}<br />
                            <strong>Cuenta</strong> {{bankAccount.account}}<br />
                            <strong>Cuenta Cliente</strong> {{bankAccount.longAccount}}<br />
                            <strong>Nombre</strong> {{bankAccount.owner}}<br />
                            <strong>Cédula</strong> {{bankAccount.ownerDocumentId}}<br />
                            <strong>Moneda</strong> {{bankAccount.currency}}<br />
                            <br>
                        </div>
                    </div>
                </p>
                <p>2. Una vez realizado el pago, toma una foto del comprobante y adjúntalo con el botón de Adjuntar Comprobante. </p>
                <p>3. Por último, haz click en el botón de Finalizar Compra para enviarnos el comprobante.</p>
                <div class="upload-btn-wrapper" ng-if="vm.uploader.queue.length==0">
                    <md-button class="md-button md-raised md-primary custom"><i class="fas fa-plus"></i>&nbsp; Adjuntar comprobante</md-button>
                    <input type="file" nv-file-select="" uploader="vm.uploader" />
                </div>
                <!-- Image bulk upload -->
                <div ng-if="vm.uploader.queue.length>0" ng-include="'app/components/partials/imageUpload.html'"></div>
            </div>
        </div>
        <!-- Credix -->
        <div class="list-title" ng-click="vm.paymentMethod='credix'" ng-if="vm.paymentMethods.credix">
            <h4 ng-class="{'success-green':vm.paymentMethod=='credix'}">
                Credix 
                <small ng-if="vm.paymentMethod=='credix'" class="success-green"> Para pagar con credix haz click en Finalizar Compra.</small>
            </h4>
        </div>
        <!-- Terms and Conditions -->
        <div class="center-block text-center">
			<br>
			<md-checkbox id="PrivacyPolicy" ng-model="vm.acceptedPrivacyPolicy" aria-label="Privacy Policy">	   
			</md-checkbox>
			Leí y acepto las <a href="#" onClick="window.open('politica-de-privacidad','pagename','resizable,height=600,width=400,left=200,top=50'); return false;">Políticas de Privacidad</a>
            <br>
            <div class="center-block text-center"><span style="color:darkred">{{vm.errorMessage}}</span></div>
        </div>
        <!-- Complete Payment -->
        <md-card-actions layout="row" layout-align="center center">
            <md-button class="pull-left sm-margin-left" ui-sref="cartReview"><i class="fa fa-chevron-left"></i>&nbsp; Volver</md-button>
            <md-button class="md-raised md-primary buttons-margin custom" ng-disabled="btnProceed" ng-click="vm.makePayment()" ng-if="!vm.moneyTransferReceiptSent">
                <span ng-show="!vm.saving"><i class="fa fa-check"></i>&nbsp; Finalizar Compra</span>
                <span ng-show="vm.saving"><i class="fa fa-spinner fa-spin"></i></span>
            </md-button>
        </md-card-actions>
    </md-card-content>
</md-card>