<div layout="row">
		<div flex></div>
	
	<div flex="70" style="text-align:justify">
		
			<h2>Política de Privacidad</h2>
			La empresa tiene como obligación regular correctamente la información frente a terceros, los datos sobre su personal deben gestionarse para que no exista una mala práctica. La Compañía ENERGYM COSTA RICA , cumple con el compromiso de confidencialidad y de políticas de privacidad en cada una de las relaciones laborales que concierta con sus empleados. Los empleados también están sujetos a esta política sobre información que circula en la empresa. Una de las obligaciones sería seguir las políticas TI, en el manejo de la información, el uso del internet y del correo, ya que, si no siguen estas políticas que se ubican en intranet, sí el administrador de TI o personal de Cultura y Gente, se dan cuenta de la mala manipulación de los sistemas, documentos o red, esto será de causa de sanción o despido inmediato, dependiendo lo grave del tema.
	</div>
	<div flex></div>
	</div>