<div class="row" ng-if="vm.product">
        <div class="col-md-6">
            <div class="imageContainer">
                <carousel style="cursor:pointer">
                <slide ng-repeat="image in vm.productImages" active="image.active">
                    <img class="img-responsive" ng-src="{{::image.url}}" alt="{{::vm.product.description}}">
                </slide>
                </carousel>
                <span ng-if="::vm.product.discountPrice!=0">
                        <div style="position:absolute;top:50px;right:38px;z-index:1">
                            <strong ng-if="::vm.site!='nmnuevomundo.com'" style="color:white">{{100-(vm.product.discountPrice*100)/vm.product.price | number:0}}%</strong>
                            <strong ng-if="::vm.site=='nmnuevomundo.com'" style="color:black">{{100-(vm.product.discountPrice*100)/vm.product.price | number:0}}%</strong>
                        </div>
                        <img ng-if="::vm.site!='nmnuevomundo.com'&&vm.site!='cachoscr.com'" class="salesTag" src="https://cms.blumewebsites.com/demoshop/website/offer-tag.png" />
                        <img ng-if="::vm.site=='nmnuevomundo.com'" class="salesTag" src="assets/images/nuevomundo-discount-tag.png" />
                        <img ng-if="::vm.site=='cachoscr.com'" class="salesTag" src="assets/images/cachos-discount-tag.png" />
                </span>
                <span ng-if="::vm.product.gender=='FEMENINO'||vm.product.brand=='NEW WAVE'">
                    <img class="comboTag" ng-src="https://cms.blumewebsites.com/blume/img/{{::vm.product.customValueD}}.png" ng-if="::vm.product.customValueD!=''&&vm.site=='nmnuevomundo.com'"/>
                    <img class="comboTag" ng-src="https://cms.blumewebsites.com/blume/img/{{::vm.product.customValueD}}.png" ng-if="::vm.product.customValueD!=''&&vm.site=='cachoscr.com'"/>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <br hide-gt-xs>
            <h1 class="no-margin">{{::vm.product.title}} </h1> 
            <h5>Ref:{{::vm.product.referenceCode}}</h5>

            <br>
            
            <div layout="row" ng-if="!vm.product.isSingleImage">
                <div class="col-xs-2 col-sm-2 col-md-2 no-padding" ng-repeat="image in vm.productImages">
                <img ng-src="{{::image.url}}" style="width:100%" ng-click="::vm.setActive($index)">
                </div>
            </div>

            <br>

            <table ng-if="vm.isGrupoCachos">
                <tr ng-if="::vm.product.brand!=''">
                <td width="45%"><strong>Marca </strong></td>
                <td>{{::vm.product.brand}}</td>           
                </tr>
                <tr ng-if="::vm.product.family!=''">
                <td width="45%"><strong>Familia </strong></td>
                <td>{{::vm.product.family}}</td> 
                </tr>
                <tr ng-if="::vm.product.subFamily!=''">
                <td width="45%"><strong>Sub Familia </strong></td>
                <td>{{::vm.product.subFamily}}</td> 
                </tr>
                <tr ng-if="::vm.product.model!=''">
                <td width="45%"><strong>Modelo </strong></td>
                <td>{{::vm.product.model}}</td> 
                </tr>
                <tr ng-if="::vm.product.colorCode!=''">
                <td width="45%"><strong>Color </strong></td>
                <td>{{::vm.product.colorCode}} ({{::vm.product.color}})</td> 
                </tr>
                <tr ng-if="::vm.product.gender!=''">
                <td width="45%"><strong>Género </strong></td>
                <td>{{::vm.product.gender}}</td> 
                </tr>
            </table>
    
            <div ng-if="::vm.product.htmlDescription!=''" ta-bind ng-model="vm.product.htmlDescription"></div>
            <br />

            <div ng-if="vm.productAvailability.length > 0">
                <span style="color:darkgreen">Disponible en:</span><br>
                <span style="color:darkgreen;font-weight: bold;" ng-if="vm.isGrupoCachos">Compra en línea</span><br>
                <ul style="list-style:none;padding-left:0px;padding-bottom:10px;">
                    <li ng-repeat="store in vm.productAvailability" style="color:darkgreen;font-weight: bold;">
                        {{store.name}} 
                        <a href="tel:{{store.phone}}"><i class="fas fa-phone"></i></a>
                    </li>
                </ul>
            </div>

            <p class="text-muted" ng-if="vm.colorVariations.length>0">Colores disponibles</p>
            <div layout="row" ng-if="vm.colorVariations.length>0">
                <div class="col-xs-1 col-sm-1 col-md-1 no-padding" ng-repeat="variation in vm.colorVariations">
                    <a href="" ui-sref="product(::{referenceCode:vm.referenceCode,colorCode:variation.colorCode})">
                        <img ng-src="{{::variation.imageUrl}}" style="width:100%">
                    </a>
                </div>
            </div>
    
            <br>
            <md-chips ng-if="vm.keywords.length > 1" ng-model="vm.keywords" input-aria-label="Product Keywords" input-aria-describedby="productKeywords" readonly="true">
                
            </md-chips>
    
            <div layout="row">
            <div flex>
                <div ng-if="vm.products.length > 0 && vm.products[0].size!=''">
                    <h3 ng-if="::vm.site!='productosmaky.com'&&vm.site!='thefaceshopcr.com'&&vm.site!='themommylifecr.com'&&vm.site!='vitare.madebyblume.com'&&vm.site!='naturaurbanacr.com'">Tallas</h3>
                    <h3 ng-if="::vm.site=='productosmaky.com'">Peso</h3>
                    <h3 ng-if="::vm.site=='thefaceshopcr.com'||vm.site=='themommylifecr.com'||vm.site=='vitare.madebyblume.com'||vm.site=='naturaurbanacr.com'">Opciones</h3>
                    <div class="c-pwa-sku-selection__size-inner" ng-if="vm.products.length > 0 && vm.products[0].size!=''">
                        <div class="c-pwa-radio-boxes c-pwa-radio-boxes--default">
                            <ul class="c-pwa-radio-boxes__list c-pwa-radio-boxes__list--default">
                                <li class="c-pwa-radio-boxes__item c-pwa-radio-boxes__item--default" ng-repeat="variant in vm.products">
                                    <input ng-click="vm.setSelectedOption(variant)" type="radio" name="selectedSize" id="{{variant.size}}" value="{{variant.externalId}}" class="c-pwa-radio-boxes__input c-pwa-custom-radio__input">
                                    <label ng-class="{ 'selectedOption' : variant.externalId == vm.option1 }" for="{{variant.size}}" class="c-pwa-radio-boxes__label c-pwa-custom-radio__label c-pwa-custom-radio__label--default">
                                        {{variant.size}} <span ng-if="variant.customValueB!=''&&vm.isGrupoCachos">({{::variant.customValueB}})</span>
                                    </label>
                                </li>
                            </ul>
                        </div> 
                    </div>
                    <!-- Uncomment for old size picker -->
                    <!-- <md-select ng-model="vm.option1" ng-change="vm.getProductAvailability()" aria-label="Sizes">
                        <md-option ng-repeat="variant in vm.products" value="{{::variant.externalId}}">
                            {{::variant.size}} <span ng-if="variant.customValueB!=''&&vm.isGrupoCachos">({{::variant.customValueB}})</span>
                        </md-option>
                    </md-select> -->
                    </div> 
            </div>
            <div flex hide-xs></div>
            </div>
    
            <div layout="row" ng-if="vm.products[0].price!=0 && vm.site!='foxracingcr.com'">
                <div class="text-center" ng-if="vm.products.length > 0" flex>
                    <div ng-repeat="variant in vm.products | filter:{externalId: vm.option1 }| limitTo:1">
                        <div class="product-price">
                            <h3 ng-if="::variant.discountPrice==0">
                                {{::variant.price | currency:vm.currency.symbol}} 
                                <small> i.v.i</small>
                                <small ng-if="vm.site=='kamlungpuravida.com'" class="gray">({{::variant.price / vm.currencyExchangeRate |currency:'₡':0}})</small>
                            </h3>
                            <h3 ng-if="::variant.discountPrice!=0">
                                <small class="darkred"><strike>{{::variant.price | currency:vm.currency.symbol}}</strike></small><br />
                                {{::variant.discountPrice | currency:vm.currency.symbol}} 
                                <small> i.v.i</small>
                                <small ng-if="vm.site=='kamlungpuravida.com'" class="gray">({{::variant.discountPrice / vm.currencyExchangeRate |currency:'₡':0}})</small>
                                <strong ng-if="variant.discountTimerEnd">
                                    <br>
                                    <timer class="discountTimerLarge" end-time="variant.discountTimerEnd" max-time-unit="'hour'">{{hours}} h {{minutes}} min {{seconds}} s</timer>
                                </strong>
                            </h3>
                        <h4 ng-if="variant.stock == 0" class="gray"><small><br> No hay disponible en este momento</small></h4>
                        </div>
                        <ngcart-detail ng-if="variant.discountPrice==0&&variant.stock>0" id="{{ variant.externalId }}" name="{{ variant.description }}" price="{{ variant.price }}" quantity="1" quantity-max="50" data="{referenceCode:variant.referenceCode,colorCode:variant.colorCode,size:variant.size,imageUrl:vm.productImages[0].url,isDiscountPrice:0,brand:variant.brand,stock:100,isReserve:0,weight:variant.weight,comboCode:variant.customValueD}"><i class="fa fa-shopping-cart"></i> Agregar</ngcart-detail>
                        <ngcart-detail ng-if="variant.discountPrice>0&&variant.stock>0" id="{{ variant.externalId }}" name="{{ variant.description }}" price="{{ variant.discountPrice }}" quantity="1" quantity-max="50" data="{referenceCode:variant.referenceCode,colorCode:variant.colorCode,size:variant.size,imageUrl:vm.productImages[0].url,isDiscountPrice:1,brand:variant.brand,stock:100,isReserve:0,weight:variant.weight,comboCode:variant.customValueD}"><i class="fa fa-shopping-cart"></i> Agregar</ngcart-detail>
                        <ngcart-reserve ng-if="variant.customValueA=='PREVENTA'&&variant.discountPrice>0&&variant.stock>0" id="{{ variant.externalId }}" name="{{ variant.description }} + (Apartado con 50%)" price="{{ variant.discountPrice * .5 }}" quantity="1" data="{referenceCode:variant.referenceCode,colorCode:variant.colorCode,size:variant.size,imageUrl:vm.productImages[0].url,isDiscountPrice:1,brand:variant.brand,stock:100,isReserve:1,weight:variant.weight,comboCode:variant.customValueD}"><i class="fa fa-shopping-cart"></i> Apartar con 50%</ngcart-reserve>
                        <ngcart-reserve ng-if="variant.customValueA=='PREVENTA'&&variant.discountPrice==0&&variant.stock>0" id="{{ variant.externalId }}" name="{{ variant.description }} + (Apartado con 50%)" price="{{ variant.price * .5 }}" quantity="1" data="{referenceCode:variant.referenceCode,colorCode:variant.colorCode,size:variant.size,imageUrl:vm.productImages[0].url,isDiscountPrice:0,brand:variant.brand,stock:100,isReserve:1,weight:variant.weight,comboCode:variant.customValueD}"><i class="fa fa-shopping-cart"></i> Apartar con 50%</ngcart-reserve>
                    </div>
                </div>
                <div flex hide-xs></div>
            </div>
            
        </div>
    </div>