<div class="row">
    <div class="col-md-12">
        <h2>Productos Relacionados</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6 no-padding" ng-repeat="product in vm.relatedProducts"> 
        <md-card class="center-block text-center">
            <md-card-content>
            <a href="" ui-sref="product(::{referenceCode:product.referenceCode,colorCode:product.colorCode})">
                <div class="imageContainer">
                    <div style="background:url({{::product.imageUrl}}) no-repeat center; background-size:contain;" class="md-card-image img-card"></div>
                    <!-- <img ng-src="{{::product.imageUrl}}" alt="{{::product.title}}" class="imageCard center-block"> -->
                    <div class="imageOverlay">
                        <div class="imageOverlayText"><i class="fa fa-2x fa-search"></i></div>
                    </div>
                    <span ng-if="::product.discountPrice!=0">
                        <div style="position:absolute;top:40px;right:33px;z-index:1">
                            <strong ng-if="::vm.site!='nmnuevomundo.com'" style="color:white">{{100-(product.discountPrice*100)/product.price | number:0}}%</strong>
                            <strong ng-if="::vm.site=='nmnuevomundo.com'" style="color:black">{{100-(product.discountPrice*100)/product.price | number:0}}%</strong>
                        </div>
                        <img ng-if="::vm.site!='nmnuevomundo.com'&&vm.site!='cachoscr.com'" class="salesTag" src="https://cms.blumewebsites.com/demoshop/website/offer-tag.png" />
                        <img ng-if="::vm.site=='nmnuevomundo.com'" class="salesTag" src="assets/images/nuevomundo-discount-tag.png" />
                        <img ng-if="::vm.site=='cachoscr.com'" class="salesTag" src="assets/images/cachos-discount-tag.png" />
                    </span>
                    <span ng-if="::product.gender=='FEMENINO'||product.brand=='NEW WAVE'">
                        <img class="comboTag" ng-src="https://cms.blumewebsites.com/blume/img/{{::product.customValueD}}.png" ng-if="::product.customValueD!=''&&vm.site=='nmnuevomundo.com'"/>
                        <img class="comboTag" ng-src="https://cms.blumewebsites.com/blume/img/{{::product.customValueD}}.png" ng-if="::product.customValueD!=''&&vm.site=='cachoscr.com'"/>
                    </span>
                </div>
            </a>
            <h4>{{::product.title}}</h4>
            <p class="no-margin" ng-if="product.price!=0">
                <span ng-if="::product.discountPrice==0">
                    {{::product.price | currency:vm.currency.symbol}} 
                    <small> i.v.i</small>
                    <!-- <small class="gray">({{::product.priceUsd|currency}})</small> -->
                </span>
                <span ng-if="::product.discountPrice!=0">
                    <small class="darkred"><strike>{{::product.price | currency:vm.currency.symbol}}</strike></small><br />
                    {{::product.discountPrice | currency:vm.currency.symbol}} 
                    <small> i.v.i</small>
                    <!-- <small class="gray">({{::product.discountPriceUsd|currency}})</small> -->
                </span>
                <strong ng-if="product.discountTimerEnd">
                    <br>
                    <timer class="discountTimer" end-time="product.discountTimerEnd" max-time-unit="'hour'">{{hours}} h {{minutes}} min {{seconds}} s</timer>
                </strong>
            </p>
            </md-card-content>
        </md-card>
    </div>
</div>

<br>
    