<md-card class="card-simple top-shadow card-decoration">
 <md-card-title>
	 <md-card-title-text>
		 <span class="upper-text">1. Resumen de Compra
		 	<div class="pull-right" style="margin-bottom:5px">
		 		<div ng-if="vm.store.payment_options.twocheckout || vm.store.payment_options.bacsanjose">
		 			<img src="assets/images/visa.svg" class="card-logo" />
			        <img src="assets/images/mastercard.svg" class="card-logo" />
			        <img src="assets/images/discover.svg" class="card-logo" />
			        <img src="assets/images/amex.svg" class="card-logo" />
		 		</div>
		 		<div ng-if="vm.store.payment_options.fttechnologies || vm.store.payment_options.banconacional">
		 			<img src="assets/images/visa.svg" class="card-logo" />
			        <img src="assets/images/mastercard.svg" class="card-logo" />
		 		</div>
	 		</div>
		 </span> 
		 <md-divider></md-divider>
	 </md-card-title-text>
 </md-card-title>
 <md-card-content>
	 <div ng-if="cart.$cart.items.length > 0">
		 <div ng-include="'app/ngCart/summary.html'" class="row">
     </div>
		 <md-divider></md-divider>
	 </div>
	 <div ng-if="cart.$cart.items.length == 0" class="text-center space-top">
		 <h4 class="dgrey">
			 ¡Agregue productos al carrito!
		 </h4>
		 <br />
	 </div>
   <md-divider></md-divider>
 </md-card-content>
 <md-card-actions layout="row" layout-align="center center">
	 <md-button class="pull-left sm-margin-left md-raised" ui-sref="products">Volver</md-button> &nbsp;&nbsp;
	 <md-button analytics-on="click" analytics-event="ViewContent" class="sm-margin-right md-raised md-primary custom" ng-click="vm.checkStock()" ng-if="cart.$cart.items.length > 0">Continuar</md-button>
 </md-card-actions>
</md-card>
