<div>
	<md-card class="card-simple top-shadow card-decoration">
		<md-card-title>
			<md-card-title-text>
				<span class="upper-text">Resumen</span>
				<md-divider></md-divider>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<md-list ng-if="vm.store.currency == 'USD'">
				<md-list-item>
					<div class="row">
						<div class="col-md-6">Subtotal: </div>
						<div class="col-md-6"><strong>{{ cart.getSubTotal() | currency }}</strong></div>
					</div>
				</md-list-item>
				<md-list-item>
					<div class="row">
						<div class="col-md-6">Envío:</div>
						<div class="col-md-6">
							<span ng-if="cart.getShipping()"><strong>{{ cart.getShipping() | currency }}</strong></span>
							<span ng-if="!cart.getShipping()"><strong>$0.00</strong></span>
						</div>
					</div>
				</md-list-item>
				<md-list-item ng-show="vm.discount_code.valid">
					<div class="row">
						<div class="col-md-6">Descuento:</div>
						<div class="col-md-6">
							<span><strong>{{ vm.discount_code.amount | currency }}</strong></span>
						</div>
					</div>
				</md-list-item>
				<md-list-item ng-if="vm.store.charge_tax">
					<div class="row">
						<div class="col-md-6">Impuesto:</div>
						<div class="col-md-6">
							<span><strong>{{ cart.getTax() | currency }}</strong></span>
						</div>
					</div>
				</md-list-item>
			</md-list>
			<md-list ng-if="vm.store.currency == 'CRC'">
				<md-list-item>
					<div class="row">
						<div class="col-md-6">Subtotal: </div>
						<div class="col-md-6"><strong>{{ cart.getSubTotal() | currency:'₡' }}</strong></div>
					</div>
				</md-list-item>
				<md-list-item>
					<div class="row">
						<div class="col-md-6">Envío:</div>
						<div class="col-md-6">
							<span ng-if="cart.getShipping()"><strong>{{ cart.getShipping() | currency:'₡' }}</strong></span>
							<span ng-if="!cart.getShipping()"><strong>₡0.00</strong></span>
						</div>
					</div>
				</md-list-item>
				<md-list-item ng-show="vm.discount_code.valid">
					<div class="row">
						<div class="col-md-6">Descuento:</div>
						<div class="col-md-6">
							<span><strong>{{ vm.discount_code.amount | currency:'₡' }}</strong></span>
						</div>
					</div>
				</md-list-item>
				<md-list-item ng-if="vm.store.charge_tax">
					<div class="row">
						<div class="col-md-6">Impuesto:</div>
						<div class="col-md-6">
							<span><strong>{{ cart.getTax() | currency:'₡' }}</strong></span>
						</div>
					</div>
				</md-list-item>
			</md-list>
			<md-divider></md-divider>
		</md-card-content>
		<md-card-actions layout="row" layout-align="center center">
			<div class="row">
				<div class="col-md-6">
					<span class="pull-left upper-text">Total:</span>
				</div>
				<div class="col-md-6" ng-if="vm.store.currency == 'USD'">
					<p class="" ng-show="!vm.discount_code.valid"><strong>{{ cart.totalCost() | currency }}</strong></p>
					<p class="" ng-show="vm.discount_code.valid"><strong>{{ cart.totalCost() - vm.discount_code.amount | currency }}</strong></p>
				</div>
				<div class="col-md-6" ng-if="vm.store.currency == 'CRC'">
					<p class="" ng-show="!vm.discount_code.valid"><strong>{{ cart.totalCost() | currency:'₡' }}</strong></p>
					<p class="" ng-show="vm.discount_code.valid"><strong>{{ cart.totalCost() - vm.discount_code.amount | currency:'₡' }}</strong></p>
				</div>
			</div>
		</md-card-actions>
	</md-card>
</div>
<div style="margin-top:2em" class="container-fluid text-justy">
	<p>{{vm.store.delivery_terms}}</p>
</div>
